header{
    width: 100%;
    height: 50px;
    padding: 0 20px;
    background-color: var(--primary);
}
header, ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
li{
    padding: 0 15px 0 0;
    font-size: 15px;
    font-weight: 700;
}
a{
    color: var(--text-menu);
}
button img{
    width: 21px;
}